.img-button img{
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  position: relative;
  font-size: 1em;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button img{
  font-size: 1em;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  /*background: orange;*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;

  position: relative;
  transition: all 5s ease-in-out;
  /*scroll bar-->*/
  scrollbar-base-color:gold;
  font-family:sans-serif;
  padding:10px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  direction: rtl;
  color: #F5A9BC;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 5px;
  left: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content-recipe {
  max-height: 30%;
  overflow: auto;
  direction: rtl;
}
.content-recipe a{
  padding: 0px;
  line-height: 30px;
  display: block;
}
.content-recipe a:hover{
  padding: 0px;
  line-height: 30px;
  background-color: #F6CEEC;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
}
.icon img{
  margin-top: 0px;
  float: right;
}

























