/*
#70e588 - green
#169cff - blue
#9e83e3 - purple
#f85e35 - red
#ffff63 - yellow
*/

html {
    font-family: GraublauWeb,Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    font-size: 1.5em;
    /*background: #169cff;*/
}

nav {
    width: 40%;
    height: 67px;
    background: #70e588;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
    justify-content: space-between;
    display: flex;
    width: 81%;
}

#date_time {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: flex-end;
    margin: 1%;
    font-size: 1em;
}

ul {
    width: 270px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10px;
}

.menu li a {
    height: 50px;
    width: 88px;
    font-weight: 900;
    color: #f85e35;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    color: white;
}

.main-panel1 {
    display: none;
}

.header-menu .main-panel:target{
    display: flex;
    width: 100%;
    margin: 10px 0 0;
}


#sweets {
    flex-direction: row;
    align-content: center;
    background: #169cff;
    width: 81%;
    height: 500px;
    margin: 15px auto 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.page-sweets > li{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 10px;
}

.page-sweets {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-content: center;
    width: 80%;
    padding-top: 5%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.page-sweets img {
    margin-bottom: 10px;
    width: 156px;
    height: 156px;
}

#home img{
    width: auto;
    height: 250px;
}

#popup-cupcake li{
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #169cff;
    padding: 10px 20px 10px 20px;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    width: 400px;
    height: 40px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 1px 7px 1px white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#popup-cupcake li:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
