/*
#70e588 - green
#169cff - blue
#9e83e3 - purple
#f85e35 - red
#ffff63 - yellow
*/

html {
    font-family: GraublauWeb,Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    font-size: 1.5em;
    /*background: #169cff;*/
}

nav {
    width: 40%;
    height: 67px;
    background: #70e588;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
    justify-content: space-between;
    display: flex;
    width: 81%;
}

#date_time {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: flex-end;
    margin: 1%;
    font-size: 1em;
}

ul {
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10px;
}

.menu li a {
    height: 50px;
    width: 50px;
    font-weight: 900;
    color: #f85e35;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    /*background-color: #169cff;*/
    color: white;
}

li a:first-child:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*li a:hover {*/
    /*color: #169cff;*/
/*}*/

.header-menu div, .sweets-clk div {
    display: none;
}

.header-menu div:target{
    display: flex;
    width: 100%;
    margin: 10px 0 0;
}

#home {
    width: 81%;
    height: 500px;
    margin: 15px auto 0;
    border: 0;
}

#sweets {
    flex-direction: row;
    align-content: center;
    background: #169cff;
    width: 81%;
    height: 500px;
    margin: 15px auto 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.page-sweets a {
    display: block;
    position: relative;
    text-align: center;
}

.page-sweets > li {
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 10px;
}

.page-sweets {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-content: center;
    width: 80%;
    padding-top: 5%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.page-sweets img {
    margin-bottom: 10px;
    width: 156px;
    height: 156px;
}

.sweets-clk div:target{
    display: none;
    width: 100%;
    margin: 10px 0 0;
}